<app-nav></app-nav>
<div class="container">
    <h3>BIENVENIDO</h3>
    <h3>ELIJA LA OPERACION:</h3>
    <button type="button" class="btn btn-primary" routerLink="/">Leer Archivos</button>
<button type="button" class="btn btn-secondary" routerLink="/personal/listar">Personal</button>
<button type="button" class="btn btn-success" routerLink="/enviar/recibos/sinMatch">Enviar Sin Relacionar</button>
<button type="button" class="btn btn-success" routerLink="/recibo/enviado/listar">Recibos Enviados</button>
</div>
