@charset "ISO-8859-1";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EFEFEF;
}
.logo{
  float: left;
  width: 56px;
  height: 100%;
  background-image: url(fatimaLogo.png);
  background-size: cover;
  background-position: 0%;

}
nav{
    background-color: #0A3143;
    height: 56px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    display: flex;
    position: relative;
    margin: auto;

}
/*Dropdown nav


*/
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: #0A3143;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.dropdown{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  width: 100%;
}

li a {
  color: #fff;
}

li:hover {
  cursor: pointer;
}

ul li:hover > ul,
ul li:focus-within > ul, /* this is the line we add */
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  max-width: 100%;
}

/*ends dropdown nav */





/* Estilos para la barra de navegaci�n */

nav li {
  justify-content: center;
  align-items: center;
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


/* Media query para ajustar el dise�o en pantallas peque�as */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-left, .footer-right {
    width: 100%;
  }
}

#cont{
  max-width: 720px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
* {
  font-family: sans-serif; /* Change your font family */
}

.contenido-tabla {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 50%;
  table-layout: fixed;
  text-align: center;
}

.contenido-tabla thead tr {
  background-color: #59427a;
  color: #ffffff;
  font-weight: bold;
}

.contenido-tabla th,
.contenido-tabla td {
  padding: 12px 15px;
}

.contenido-tabla tbody tr {
  border-bottom: 1px solid #dddddd;
background-color: #ffffff42;
}


.contenido-tabla tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.contenido-tabla tbody tr:last-of-type {
  border-bottom: 2px solid #59427a;
}
