<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom p-3 " style="background-color: #006D77;">
  <a routerLink="/inicio" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none text-white">
    <div class="logo bi me-2" >
      <img src="../../../assets/logo.png" alt="" width="40" height="52">
    </div> 
    <span class="fs-4">Secretaria</span>
  </a>
  <ul  class="nav nav-pills text-white" >
    <li class="nav-item" ><a href="#" class="nav-link text-white" *ngIf="existeUsuarioLogeado()">
      <img src="../../../../assets/icons/user.svg" width="40" height="40" class="d-inline-block align-top" alt="ver perfil"></a>
    </li>
  
    <div class="text-end" *ngIf="existeUsuarioLogeado()">
      <button href="#" class=" btn btn-danger" (click)="logOut()">Cerrar Session</button>
    </div>
  </ul>
</header>

