<!-- <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre de Archivo</th>
      <th scope="col">Envio</th>
      <th> Contador</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reciboIn of recibosList; let i = index">
      <td>{{reciboIn.id}}</td>
      <td>{{reciboIn.nombre}}</td>
      <td><button (click)="guardarTempFile(reciboIn)" data-bs-toggle="modal" data-bs-target="#myModal" type="button" class="btn btn-success">Enviar</button></td>
    
      <td>{{i}}</td>
    </tr>
  </tbody>
</table>
 -->
<div class="container">
  <h3 class="text-center">Recibos</h3>
  <div class="row">
    <div class="col-auto me-auto">
      <button class="btn" (click)= "volver()"><img src="../../../assets/arrow-left.svg" alt="" height="10px" width="30px"></button>
    </div>
  
  </div>
  <table class="contenido-tabla">
    <thead>
      <tr >
          <th scope="col">Nombre de Archivo</th>
          <th scope="col" class="">Envio</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let reciboIn of recibosList; let i = index">
        <td>{{reciboIn.nombre}}</td>
        <td><button (click)="guardarTempFile(reciboIn)" data-bs-toggle="modal" data-bs-target="#myModal" type="button" class="btn btn-success">Enviar</button></td>
      </tr>
    </tbody>
  </table>

  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirmacion de Envio</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-dark">
          <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Enviar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let personal of personales; let i = index">
                <td>{{personal.email}}</td>
                <td><button (click)="enviarReciboInd(tempFile,personal)" type="button" class="btn btn-success"  data-bs-dismiss="modal">Enviar</button></td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>

</div>
  
