
<div class="container">
  <mat-stepper linear #stepper >
    <mat-step [stepControl]="firstFormGroup" [editable]="true">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Subida de archivos</ng-template>
            <app-recibos-upload  (actualizarLista) ="obtenerReciboEnBase($event)"></app-recibos-upload>
        <button mat-button matStepperNext class="btn btn-primary" >siguiente</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="true" [optional]="false"  [completed]="false">
      <ng-template matStepLabel>Seleccione operacion</ng-template>
        <app-personal-loader [filesEnBase] = "filesEnBaseOK"  (solicitarRecarga)="obtenerReciboEnBase($event)"></app-personal-loader>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step >
    <mat-step [optional]="false" [editable]="true" [completed]="false"    >
      <ng-template matStepLabel>Done </ng-template>
        <app-recibo-en-bandeja></app-recibo-en-bandeja>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

</div>